# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.log
*.bin
.idea

ate-pairing/
xbyak/
cmake-build-debug/
googletest/
test/CMakeCache.txt
test/CMakeFiles/
test/gtest/
test/tests/CMakeFiles/
Makefile
*.cmake
CMakeCache.txt
CMakeFiles/
src/CMakeFiles/
src/bilinear
test/tests/tests
